pkg
coverage
.bundle/
.librarian/
.tmp/
modules/
spec/
augeas/
docs/
_site/

## Ruby
.rvmrc*
.rbenv*
.ruby-version

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags
