<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>augeasproviders</h1></a>
        <p>Alternative Augeas-based providers for Puppet</p>

        <p class="view">Latest version: <a
            href="http://forge.puppetlabs.com/domcleal/augeasproviders">0.5.1</a></p> 

        <ul>
          <li><a href="https://github.com/downloads/hercules-team/augeasproviders/domcleal-augeasproviders-0.5.1.tar.gz">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/hercules-team/augeasproviders">View On <strong>GitHub</strong></a></li>
          <li><a href="http://forge.puppetlabs.com/domcleal/augeasproviders">View On <strong>Forge</strong></a></li>
        </ul>
        <p class="view"><a href="/">Home</a></p>
        <p class="view"><a href="/setup/">Setup</a></p>
        <p class="view"><a href="/providers/">Providers</a></p>
        <p class="view"><a href="/documentation/examples.html">Examples</a></p>
        <p class="view"><a href="/documentation/">Other docs</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/domcleal">Dominic Cleal</a> (<a href="https://github.com/hercules-team">Hercules Team</a>)</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    
  </body>
</html>
